# _DATA CLEANING_

BASE
FILAS Y COLUMNAS A MOSTRAR EN EL OUTPUT
DESCRIPTIVOS
    >INFO()
    >DESCRIBE()
    >VALUE_COUNTS()
    >UNIQUE ()
FILTROS
    >FILTRO POR FILA CON EL NOMBRE DE LA CATEGORIA A EXCLUIR
    >FILTRO POR FILA EXCLUYENDO LOS NaN DE UNA COLUMNA
    >FILTRO SELECCIONANDO VALORES DE UNA LISTA (ISIN)
    >FILTRO CON DATOS QUE NO ESTEN EN UNA LISTA (~)
    >FILTRO USANDO EQ FUNCTION
    >FILTRO CON VALORES MAYORES(MENORES) A UN PARAMETRO
    >FILTROS CON MULTIPLES CONDICIONES
    >FILTRO FILAS SEGUN UNA COLUMNA QUE CONTIENE CIERTOS CARACTERES
DROP COLUMNS PARA QUE LA BASE SEA MAS LIVIANA
SLICING
    >LOC
    >ILOC
    >SLICING SOBRE UNA O VARIAS COLUMNAS
SETTING VALUES
    >MODIFICACION DE FILAS Y COLUMNAS
    >SETTING VALUES PARA UNA COLUMNA ENTERA
    >SETTNG VALUES PARA FILAS QUE CUMPLEN UNA CONDICION
    >SETTNG VALUES PARA FILAS QUE CUMPLEN VARIAS CONDICIONES
MISSINGS
    >SELECCIONAMOS TODAS LAS COLUMNAS QUE CONTIENEN ALGUN NaN
    >EXCLUIMOS FILAS DE UNA COLUMNA QUE SON NaN
    >SELECCION DE LOS MISSING DE UNA COLUMNA Y LOS NO MISSING
    >GRAFICO DE MISSINS
DATA TYPES
    > CONVERT DATA TYPES
STRINGS Y FUNCIONES REGEX
    >GENERICAS
    >RE MODULE > CLEANING REGEX PARA STRINGS

### BASE

In [2]:
#Import libraries
from urllib.request import urlretrieve

# Assign url of file: url, Save file locally and read it
url = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'
urlretrieve(url, r'C:\Users\Mumes\Desktop\owid-covid-data.csv')

('C:\\Users\\Mumes\\Desktop\\owid-covid-data.csv',
 <http.client.HTTPMessage at 0x56e02c8>)

### #FILAS Y COLUMNAS A MOSTRAR EN EL OUTPUT

In [11]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
# setting rows y columns output
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 3)
#columnas de un df
df.columns
#seleccion de ciertas columnas
df[['iso_code', 'continent', 'location', 'date', 'new_cases']]

      iso_code continent       location        date  new_cases
0          AFG      Asia    Afghanistan  2019-12-31        0.0
...        ...       ...            ...         ...        ...
26748      NaN       NaN  International  2020-03-10       -9.0

[26749 rows x 5 columns]

### DESCRIPTIVOS

##### INFO()

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df.info()

##### DESCRIBE DATAFRAME Y DESCRIBE COLUMNA

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df.describe()
df.continent.describe()

##### VALUE_COUNTS()  (NO INCLUYEN  NaN)

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df.continent.value_counts()

#####  UNIQUE (SOLO PARA COLUMNAS, INCLUYE NaN)

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df.continent.unique()

### FILTROS

##### FILTRO POR FILA CON EL NOMBRE DE LA CATEGORIA A EXCLUIR

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
filter_loc = (df.location != 'World') & (df.location != 'International') 
df_filt = df[filter_loc]
df_filt.shape

##### FILTRO POR FILA EXCLUYENDO LOS NaN DE UNA COLUMNA

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df_clean = df[df.continent.notnull()]
df_clean.shape

##### FILTRO SELECCIONANDO VALORES DE UNA LISTA (ISIN)

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
lista = ['Asia', 'Europe', 'Africa', 'North America', 'South America','Oceania']
df_filt = df[df['continent'].isin(lista)]
df_filt.shape

#### FILTRO CON DATOS QUE NO ESTEN EN UNA LISTA (~)

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
lista = ['Asia', 'Europe', 'Africa', 'North America', 'South America']
df_filt = df[~df['continent'].isin(lista)]
df_filt.head(2)

#### FILTRO USANDO EQ FUNCTION

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df_new = df[df.location.eq('Argentina')]
df_new.head(2)

#### FILTRO CON VALORES MAYORES(MENORES) A UN PARAMETRO

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
fecha = df.date < '2020-01-01'
df_new = df[fecha]
df_new.shape

#### FILTROS CON MULTIPLES CONDICIONES

In [8]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
continentes = [ 'North America', 'South America']
paises_exc = [ 'Anguilla','Antigua and Barbuda', 'Argentina']
df_new = df[~df.location.isin(paises_exc) & df.continent.isin(continentes)] #q este dentro de continentes y q no sea un pais excluido
df_new.head(4)

,iso_code,continent,location,date,total_cases,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
1146,ABW,North America,Aruba,2020-03-13,2.0,...,NaN,NaN,NaN,NaN,76.29
...,...,...,...,...,...,...,...,...,...,...,...
1149,ABW,North America,Aruba,2020-03-25,17.0,...,NaN,NaN,NaN,NaN,76.29

#### FILTRO FILAS SEGUN UNA COLUMNA QUE CONTIENE CIERTOS CARACTERES

In [12]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
filt = df ['location'].str.contains('Nor')
df[filt]

,iso_code,continent,location,date,total_cases,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
17983,MNP,Oceania,Northern Mariana Islands,2020-03-31,2.0,...,NaN,NaN,NaN,NaN,76.74
...,...,...,...,...,...,...,...,...,...,...,...
18253,NOR,Europe,Norway,2020-06-28,8815.0,...,19.6,20.7,NaN,3.6,82.40

### DROP COLUMNS PARA QUE LA BASE SEA MAS LIVIANA

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df.drop( columns = ['total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'tests_units', 'population_density', 'median_age',
       'aged_65_older', 'aged_70_older', 'extreme_poverty', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities'], inplace = True)
df.shape

### SLICING

#### ILOC (INDEX POSITION)

In [ ]:
df.iloc[2:7,1:3] #Third to Seventh row, 2nd and 3rd column

#### LOC (INDEX LABEL > DEBEMOS SETTEAR LA COLUMNA INDICE)

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv', index_col = 'location')
df.loc['Argentina', 'total_cases':'total_deaths']

#### SLICING SOBRE UNA O VARIAS COLUMNAS

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv', index_col = 'location')
df.loc[['Argentina','Peru'],['continent', 'date']] #solo filas seleccionadas del index
#df.loc[:,['continent', 'date']] #todas las filas

### SETTING VALUES

#### MODIFICACION DE FILAS Y COLUMNAS

In [15]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
# encabezados en mayusculas
df.columns = [x.upper() for x in df.columns]
df.head()
# reemplazar un caracter
df.columns = df.columns.str.replace( ' ','_')
# renombrar una columa
df.rename(columns={'col1':'new_col1'}, inplace = True)
# mofidicacion de una celda
df.loc[2, 'columnaB'] = “pepe”   # modifica el valor de la fila 3, columna B por el valor pepe
# todos los valores de la columna en minuscula
df['col1'] = df['col1'].str.lower()
# todo el dataframe en minuscula
df.applymap(str.lower)

,ISO_CODE,CONTINENT,LOCATION,DATE,TOTAL_CASES,...,FEMALE_SMOKERS,MALE_SMOKERS,HANDWASHING_FACILITIES,HOSPITAL_BEDS_PER_THOUSAND,LIFE_EXPECTANCY
0,AFG,Asia,Afghanistan,2019-12-31,0.0,...,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...
4,AFG,Asia,Afghanistan,2020-01-04,0.0,...,NaN,NaN,37.746,0.5,64.83

##### SETTING VALUES PARA UNA COLUMNA ENTERA

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df.loc[:, 'location'] = 'Argentina'
df.tail(2)

#### SETTNG VALUES PARA FILAS QUE CUMPLEN UNA CONDICION

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df.describe()
df.loc[df['new_cases'] < 0, ['new_cases']] = 0  # reemplaza todos los negativos en new_cases por cero
df.describe()

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df.loc[df['location'] == 'Afghanistan', ['location']] = 'Afghanos'  # reemplaza todos los valores Afghanistan por Afganos
df.loc[df['total_cases'] == 0, ['total_cases']] = 7 # reemplaza los total_cases iguales a cero por 7
df.head(2)

#### SETTNG VALUES PARA FILAS QUE CUMPLEN VARIAS CONDICIONES

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df.loc[(df['location'] == 'Argentina') & (df['new_cases'] == 1), ['iso_code']] = 'SELECCIONADO' # seleccionamos los dias con las cond argentina con 1 caso nuevo
df_argentina = df[df.location.eq('Argentina')]
df_argentina

### MISSINGS

#### SELECCIONAMOS TODAS LAS COLUMNAS QUE CONTIENEN ALGUN NaN

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df.loc[:,df.isnull().any()]

#### SELECCION DE LOS MISSING DE UNA COLUMNA Y LOS NO MISSING

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
missing = df[df['continent'].isna()]
nomissing = df[~df[‘col’].isna()]
missing.head()

#### REEMPLAZAR LOS MISSING DE UNA COLUMNA CON UN VALOR ( VER TAMBIEN SETTING VALUES)

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df['continent']= df['continent'].fillna('sinconti') # para llenar con 0 los missing  
df.tail(2)

#### EXCLUIMOS FILAS DE UNA COLUMNA QUE SON NaN

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df_clean = df[df.continent.notnull()]
df_clean.shape

#### GRAFICO DE MISSING

In [ ]:
import missingno as msno
import matplotlib.pyplot  as plt
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
msno.matrix(df)
plt.show()

### DATA TYPES

#### CONVERT DATA TYPES

In [ ]:
#CONV TO STRING
df['column'] = df.['column'].astype(str)
#CONV TO CATEGORIC 
df.column = df.column.astype('category')
#CONV TO NUM
df['column'] = pd.to_numeric(df['column'], errors='coerce') # coerce pone los “-”como NaN missinfg

### STRINGS > FUNCIONES Y REGEX

#### GENERICAS

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
## para extraer el primer digito de una columna
df['column']=df.column_melt.str[0] 
# para separar una variable
df['str_split'] = df_melt.variable.str.split('_') 
#REEMPLAZAR CARACTERES  
df ['column'] = df['column'].str.replace( '+' : '00') 
#ASSERT >returns nothing if the condition passes
checked = phone[ ‘phone_number’].str.len()
assert checked >= 10

#### RE MODULE > CLEANING REG EXPRESSIONS PARA STRINGS

In [ ]:
# REGEX PARA MATCHEAR
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
import re
pattern=re.compile('\$\d* \.\d{2}')
result = pattern.match('17.89') 
bool(result)
#OTRO TIPO DE MATCHING >>> me dice los num dentro de una string
matches = re.findall('\d+', 'the recipe calls for 10 straw and 1 banana')
#MATCH TODO EN UNO
pattern1 = bool(re.match(pattern='\d{3}-\d{3}-\d{4}', string='123-456-7890'))