# __DATA WRANGLING__

https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Python_Pandas_Cheat_Sheet_2.pdf
CSV
IMPORTAR SOLO UNA PARTE DEL DATA FRAME
READING MULTIPLES FILES WITH LIST COMPRENHENTION
READING MULTIPLES FILES WITH GLOBING
LOADING DATA FROM THE WEB IN CHUNKS
SQL
EXCEL
WEB
JSON - CREAR UN DATAFRAME VACIO Y CARGARLO CON DATA
API

#### CSV

In [35]:
### idem excel, json, html, sql
import pandas as pd
#input
cols = ['total_cases', 'population']
data = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv', nrows = 2, skiprows = lambda x: x in [1, 2], usecols = cols)
data

# nrows > para decir cuantos filas queremos importar
# skiprows = para que no considera las primeras 2 filas. usamos lambda porque sino elimina el header
# usecols > creamos una lista para levantar solo esas columnas. VER próxima sección, es mas simple
# dtype > especificamos que tipo de data type queremos para esa columna
# podemos especificar como clasificar errores

#output
#data.to_csv(r'C:\Users\Mumes\Desktop\output.csv')

   total_cases  population
0          0.0  38928341.0
1          0.0  38928341.0

#### IMPORTAR SOLO UNA PARTE DEL DATAFRAME

In [19]:
import pandas as pd
df= pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')[['continent', 'location']]
df.columns # para consultar las cols del df
df.head(2)

  continent     location
0      Asia  Afghanistan
1      Asia  Afghanistan

#### READING MULTIPLES FILES WITH LIST COMPRENHENTION

In [48]:
import pandas as pd
filenames= [r'C:\Users\Mumes\Desktop\owid-covid-data1.csv', r'C:\Users\Mumes\Desktop\owid-covid-data2.csv']
dfs = [pd.read_csv(f) for f in filenames]
df = pd.concat(dfs, axis='rows') 
df.shape

(52268, 34)

##### READING MULTIPLES FILES WITH GLOBBING

In [54]:
import pandas as pd
from glob import glob
filenames = glob (r'C:\Users\Mumes\Desktop\owid-covid-data?.csv') #pattern >'path?.csv' for any single character 
dfs =  [pd.read_csv(f) for f in filenames]
df = pd.concat(dfs, axis='rows') 
df.shape

#pattern >'path*.csv' for any single file
#pattern >'path?.csv' for any single character

(52268, 34)

#### LOADING DATA FROM THE WEB IN CHUNKS

In [37]:
#Import libraries
from urllib.request import urlretrieve
import pandas as pd

# Assign url of file: url
url = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'

# Save file locally
urlretrieve(url, r'C:\Users\Mumes\Desktop\owid-covid-data.csv')

#loading data in chunks de 20 filas, solo para los 200 primeros registros
result = []
for chunk in pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv',nrows=200, chunksize = 20):
    result.append(sum(chunk['new_cases']))
total = sum(result)
total

30115.0

#### SQL

In [ ]:
#import sql database
import pandas as pd
import numpy as np
import mysql.connector
miConexion = mysql.connector.connect( host='localhost', user= 'root', passwd='mysqlpass', db='trabajadores' )
cur = miConexion.cursor()
cur.execute( "SELECT * FROM employees" )
result = cur.fetchall() #fetchall busca todas las filas.
sequence = cur.column_names
miConexion.close()
#convert to dataframe
base_sql = pd.DataFrame (result, columns = sequence)
base_sql.head(1)

In [ ]:
#create an engine to connect to a database > dialect+driver://username:password@host:port/database
#from sqlalchemy import create_engine
#engine = create_engine('mysql://root:mysqlpass@localhost:3306/trabajadores',  pool_recycle=3600)
#table_names = engine.table_names()
#table_names
#OPERATIONAL ERROR

In [ ]:
#pandas y sql
#import pandas as pd
#from sqlalchemy import create_engine
#engine = create_engine('mysql://root:mysqlpass@localhost:3306/trabajadores')
#df_sql = pd.read_sql_query("SELECT * FROM employees", engine)
#OPERATIONAL ERROR

#### EXCEL > ARMAMOS TABLA CON COL NOMBRE DE SOLAPA Y EXPORTAMOS

In [56]:

#pd.read_excel ()
# usecols > ‘A:L, P:S’  > para que solo levante ese rango de columnas
# multiple work sheets
    #sheet_name  > para especificar la o las hojas que queremos (con numero o nombre, o lista)
    #sheet_name = None > levanta todas las hojas del workbook
#parse_dates> acepta una lista de columnas para designar como datetime
#pd.to_datetime si no funciona lo anterior, despues que hayamos importado el archivo

#PARA CONVERTIR A DATAFRAME CUANDO TODAS LAS HOJAS SON IGUALES
# import workbook con multiples hojas (sheet_name = None > levanta todas las hojas del workbook)
import pandas as pd
multiples_hojas = pd.read_excel(r'C:\Users\Mumes\Desktop\groupby_location.xlsx', sheet_name = None, usecols ='A:E')
#convertimos todas las hojas en un unico df. las hojas deben ser iguales ( mismas columnas)
all_sheets = pd.DataFrame() #df vacio
for sheet_name, frame in multiples_hojas.items():
    frame['Hoja'] = sheet_name #agregamos una columna para distinguir la sheet de proveniencia
    all_sheets = all_sheets.append (frame) #unificamos
all_sheets.head(2)
# exportamos a excel
all_sheets.to_excel(r'C:\Users\Mumes\Desktop\all_sheets.xlsx')

####  WEB

In [7]:
from urllib.request import urlretrieve
import pandas as pd

#> tambien podemos usar requests  library > send and get data from websites

# Assign url of file: url
#url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv'

# Save file locally
#urlretrieve(url, r'C:\Users\Mumes\Desktop\wine_white.csv')

wine_white = pd.read_csv(r'C:\Users\Mumes\Desktop\wine_white.csv', sep = ';')
wine_white.head(2)

#tambien podemos usar las librerias requests y beautiful soup para trabajar con html

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0.49,9.5,6

#### JSON  -  CREAR UN DATAFRAME VACIO Y CARGARLO CON DATA

#### API

In [11]:
#GENERALMENTE, PRIMERO NOS DEBERIAMOS AUTENTICAR EN LA PLATAFORMA DE LA API
# Import package
import requests

# Assign URL to variable: url API
url = 'http://www.omdbapi.com/?apikey=72bc447a&t=social+network'

# Package the request, send the request and catch the response: r
r = requests.get(url)

# Decode the JSON data into a dictionary: json_data
json_data = r.json()

# Print each key-value pair in json_data
for k in json_data.keys():
    print(k + ': ', json_data[k])

Title:  The Social Network
Year:  2010
Rated:  PG-13
Released:  01 Oct 2010
Runtime:  120 min
Genre:  Biography, Drama
Director:  David Fincher
Writer:  Aaron Sorkin (screenplay), Ben Mezrich (book)
Actors:  Jesse Eisenberg, Rooney Mara, Bryan Barter, Dustin Fitzsimons
Plot:  As Harvard student Mark Zuckerberg creates the social networking site that would become known as Facebook, he is sued by the twins who claimed he stole their idea, and by the co-founder who was later squeezed out of the business.
Language:  English, French
Country:  USA
Awards:  Won 3 Oscars. Another 171 wins & 183 nominations.
Poster:  https://m.media-amazon.com/images/M/MV5BOGUyZDUxZjEtMmIzMC00MzlmLTg4MGItZWJmMzBhZjE0Mjc1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg
Ratings:  [{'Source': 'Internet Movie Database', 'Value': '7.7/10'}, {'Source': 'Rotten Tomatoes', 'Value': '96%'}, {'Source': 'Metacritic', 'Value': '95/100'}]
Metascore:  95
imdbRating:  7.7
imdbVotes:  603,038
imdbID:  tt1285016
Type:  movie
DVD:  11 Jan 2011
BoxOffice:  $96,400,000
Production:  Columbia Pictures
Website:  N/A
Response:  True