# BIENVENIDOS A 'JUPYTER'( JULIA + PYTHON + R)
### TEMAS A VER:
* workbench jupyter notebook
* guardar proyectos
* latex utilizando $$

In [45]:
import pandas as pd
archivo = pd.read_csv(r'C:\Users\Mumes\Desktop\poblacion.csv',index_col = False)
archivo.head()

   anio sexo grupo_edad nacionalidad  cant_poblacion
0  1855    m      0 - 4   Extranjero           304.0
1  1855    v      0 - 4   Extranjero           294.0
2  1855    m      0 - 4       Nativo          4491.0
3  1855    v      0 - 4       Nativo          4498.0
4  1855    m    10 - 14   Extranjero           720.0

In [3]:
archivo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1160 entries, 1855 to 2010
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sexo            1160 non-null   object
 1   grupo_edad      1160 non-null   object
 2   nacionalidad    1160 non-null   object
 3   cant_poblacion  1160 non-null   float64
dtypes: float64(1), object(3)
memory usage: 45.3+ KB

In [ ]:
archivo['sexo'].astype('category')
import matplotlib.pyplot as plt
plt.bar(archivo['sexo'], archivo['cant_poblacion'])

In [1]:
from sklearn import linear_model
reg = linear_model.Lasso(alpha=0.1)
reg.fit([[0, 0], [1, 1]], [0, 1])
reg.predict([[1, 1]])

array([0.8])

In [3]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\mumes\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in c:\users\mumes\anaconda3\lib\site-packages (from beautifulsoup4) (1.9.5)
Note: you may need to restart the kernel to use updated packages.

In [12]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/EEEZX_0FMEc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

In [24]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [49]:
import pandas as pd
v = pd.read_csv(r"C:\Users\Mumes\Desktop\violencia.csv", index_col = "anio")
v.head()

      porc_mujeres grupo_edad                 tipo_violencia
anio
2018          58.5      TOTAL  Al menos un tipo de violencia
2018          67.4    18 - 29  Al menos un tipo de violencia
2018          67.0    30 - 39  Al menos un tipo de violencia
2018          68.1    40 - 49  Al menos un tipo de violencia
2018          59.1    50 - 59  Al menos un tipo de violencia

In [51]:
v2 = v["porc_mujeres"]
v2

anio
2018    58.5
2018    67.4
2018    67.0
2018    68.1
2018    59.1
2018    41.1
2018    55.3
2018    64.8
2018    65.2
2018    65.0
2018    53.7
2018    39.1
2018    21.5
2018    19.4
2018    26.0
2018    31.9
2018    25.8
2018    12.4
2018    23.7
2018    15.0
2018    22.5
2018    33.3
2018    35.9
2018    18.9
2018    13.5
2018    15.1
2018    14.2
2018    18.2
2018    15.3
2018     8.9
Name: porc_mujeres, dtype: float64